*{
    box-sizing: border-box;
}

.jumbotron {
    text-align: center;
    background: linear-gradient(to top right, lightgrey, lightblue);
    color: black;
    border-radius: 0;
    border-bottom: 5px solid black;
    opacity: .9;
  }

h2{
    font-weight: bolder;
}

span {
font-size: 1em;
}


.city-name {
margin-bottom: 4px;
margin-top: 8px;
font-weight: bolder;
}
.currentday  {
    margin-left: 8px;
    border: 5px solid;
    border-radius: 15px;
    color: black;
}
.btn{
    background-color: lightblue;
}
.forecast {
    background-color: lightblue;
    margin-left: 8px;
    margin-bottom: 9px; 
    padding: 6px;
    margin-top: 8px;
    border-radius: 15px;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: black;
}
div {
    opacity: .9;
}

#jumbotron{
padding-bottom: 4px;
padding-top: 4px;
}

.snow {
background-image: url("https://thumbs.gfycat.com/CircularUnripeCutworm-size_restricted.gif");
background-size: cover;
}
.sunny{
background-image: url("https://media.giphy.com/media/l0Iy2x1FicLn45JGE/giphy.gif");
background-size: cover;
}
.rain{
background-image: url("https://bestanimations.com/media/rain/1674097529rain-nature-animated-gif-4.gif");
background-size: cover;
}
.cloudy{
background-image: url("https://media.tenor.com/X00POlaPOsIAAAAd/moving-clouds-world-meteorological-day.gif");
background-size: cover;
}
.thunder{
    background-image: url("https://media0.giphy.com/media/j69Ma1PlscvTO/giphy.gif?cid=6c09b952c12ca1e87aad6a0d025a7f854a64a6cde208a23e&rid=giphy.gif&ct=g");
    background-size: cover;
}